<div class="prog-progress-rail">
  <div class="prog-progress-rail__label">Steps</div>
  <ol class="prog-progress-rail__list" role="list">
    {{#each stepProgress}}
      <li class="prog-step
              {{#if this.isCurrent}} prog-step--active{{/if}}
              {{#if this.isComplete}} prog-step--complete{{/if}}
              {{#if this.descriptor.isConditional}} prog-step--conditional{{/if}}"
          data-step-id="{{this.descriptor.stepId}}"
          data-step-index="{{this.index}}"
          tabindex="{{#if this.canNavigate}}0{{else}}-1{{/if}}"
          role="{{#if this.canNavigate}}button{{else}}listitem{{/if}}"
          {{#if this.isCurrent}}aria-current="step"{{/if}}>
        <span class="prog-step__icon" aria-hidden="true">
          <i class="{{this.descriptor.icon}}"></i>
        </span>
        <span class="prog-step__name">{{this.descriptor.label}}</span>
        {{#if this.isComplete}}
          <span class="prog-step__check" aria-hidden="true">✔</span>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</div>
