{{!-- Droid Sheet body --}}
<div class="sheet-body">
  {{#each tabPanels as |panelNames tabName|}}
    <div class="tab{{#if (eq ../currentTab tabName)}} active{{/if}}" data-tab="{{tabName}}">
      {{#each panelNames as |panelName|}}
        {{#if (eq panelName "portraitPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/portrait-panel"}}
        {{else if (eq panelName "droidSummaryPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/droid-summary-panel"}}
        {{else if (eq panelName "abilitiesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/abilities-panel"}}
        {{else if (eq panelName "defensesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/defenses-panel"}}
        {{else if (eq panelName "skillsPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/skills-panel"}}
        {{else if (eq panelName "protocolsPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/protocols-panel"}}
        {{else if (eq panelName "customizationsPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/customizations-panel"}}
        {{else if (eq panelName "programmingPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/programming-panel"}}
        {{else if (eq panelName "inventoryPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/inventory-panel"}}
        {{else if (eq panelName "combatPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/combat-panel"}}
        {{else if (eq panelName "droidNotesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/droid/panels/droid-notes-panel"}}
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>
