
<section class="abilities-panel v3-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">{{localize "SWSE.CharacterSheet.Sections.Abilities"}}</h3>
    <div class="section-bar__actions">
      {{#if (eq actor.type "character")}}
      <button type="button"
              data-action="roll-attributes"
              class="swse-btn"
              title='{{localize "SWSE.CharacterSheet.Tooltips.OpenAttributeStep"}}'>
        {{localize "SWSE.CharacterSheet.Actions.RollForAttributes"}}
      </button>
      {{/if}}
      <button type="button"
              data-action="toggle-abilities"
              class="swse-btn">
        {{localize "SWSE.CharacterSheet.Actions.Expand"}}
      </button>
    </div>
  </header>

  <div class="abilities-container">

    {{#each abilities as |ability|}}

      <div class="ability-row ability-{{ability.key}}"
           data-swse-tooltip="{{ability.label}}">

        <!-- COLLAPSED VIEW -->
        <div class="ability-collapsed">

          <div class="ability-label swse-ability-label swse-ability-label--{{ability.key}}" data-ability="{{ability.key}}">
            {{ability.label}}
          </div>

          <div class="ability-total">
            {{ability.total}}
          </div>

          <div class="ability-mod {{ability.modClass}}">
            <span class="mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>

          <button type="button"
                  data-action="roll-ability"
                  data-ability="{{ability.key}}"
                  class="swse-btn roll-btn"
                  title='{{localize "SWSE.CharacterSheet.Tooltips.RollAbilityModifier" ability=ability.key}}'>
            <i class="fa-solid fa-dice-d20"></i>
          </button>

        </div>


        <!-- EXPANDED VIEW -->
        <div class="ability-expanded">

          <div class="math-pill compact">
            <input type="number"
                   data-field="base"
                   name="system.attributes.{{ability.key}}.base"
                   value="{{ability.base}}"
                   title='{{localize "SWSE.CharacterSheet.Tooltips.BaseAbilityScore"}}'>
          </div>

          <div class="math-operator">+</div>

          <div class="math-pill compact">
            <input type="number"
                   data-field="racial"
                   name="system.attributes.{{ability.key}}.racial"
                   value="{{ability.racial}}"
                   title='{{localize "SWSE.CharacterSheet.Tooltips.RacialBonus"}}'>
          </div>

          <div class="math-operator">+</div>

          <div class="math-pill compact">
            <input type="number"
                   data-field="temp"
                   name="system.attributes.{{ability.key}}.temp"
                   value="{{ability.temp}}"
                   title='{{localize "SWSE.CharacterSheet.Tooltips.TemporaryModifier"}}'>
          </div>

          <div class="math-operator">=</div>

          <div class="math-result">
            {{ability.total}}
          </div>

          <div class="math-mod {{ability.modClass}}">
            <span class="mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>

          <button type="button"
                  data-action="roll-ability"
                  data-ability="{{ability.key}}"
                  class="swse-btn roll-btn"
                  title='{{localize "SWSE.CharacterSheet.Tooltips.RollAbilityModifier" ability=ability.key}}'>
            <i class="fa-solid fa-dice-d20"></i>
          </button>

        </div>

      </div>


    {{/each}}

  </div>

</section>
