<div class="holo-panel">
  <div class="section-bar">
    <h3 class="section-header">Defenses</h3>
  </div>

  <div class="swse-v2-defenses-grid">
    <div class="swse-stat" data-swse-tooltip="FortitudeDefense"><div class="label">FORT</div><div class="value">{{derived.defenses.fort}}</div></div>
    <div class="swse-stat" data-swse-tooltip="ReflexDefense"><div class="label">REF</div><div class="value">{{derived.defenses.ref}}</div></div>
    <div class="swse-stat" data-swse-tooltip="WillDefense"><div class="label">WILL</div><div class="value">{{derived.defenses.will}}</div></div>
    <div class="swse-stat" data-swse-tooltip="FlatFooted"><div class="label">FF</div><div class="value">{{derived.defenses.flatFooted}}</div></div>
    <div class="swse-stat" data-swse-tooltip="DamageThreshold"><div class="label">DT</div><div class="value">{{derived.damage.threshold}}</div></div>
  </div>
</div>
