
<div class="identity-strip {{#if forceSensitive}}force-sensitive{{/if}}"
     style="--identity-glow: {{identityGlowColor}};">

  <div class="identity-main">
    <h2 class="identity-name">{{actor.name}}</h2>

    <div class="identity-meta">
      <span>Species: {{system.race}}</span>
      <span>Homeworld: {{system.planetOfOrigin}}</span>
      <span>Background: {{system.profession}}</span>
    </div>
  </div>

  {{#if forceSensitive}}
    <div class="identity-force-indicator">
      <i class="fa-solid fa-bolt"></i>
    </div>
  {{/if}}

</div>
