<section class="v3-panel holo-panel swse-resources-panel">
  <header class="section-bar">
    <h3 class="section-header">{{localize "SWSE.CharacterSheet.Sections.CombatMetricsResources"}}</h3>
  </header>

  <div class="resources-group">
    <div class="resources-group-header">{{localize "SWSE.CharacterSheet.Sections.CombatMetrics"}}</div>
    <div class="resources-subgrid resources-subgrid--combat-metrics">
      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.WalkSpeed"}}</div>
        <div class="value-row">
          <span class="value">{{resourcesPanel.combatMetrics.walkSpeed}}</span>
          {{#if resourcesPanel.combatMetrics.speedAdjustment}}
            <span class="resource-subtle">base {{resourcesPanel.combatMetrics.speedBase}} {{resourcesPanel.combatMetrics.speedAdjustmentLabel}}</span>
          {{/if}}
        </div>
      </div>

      <div class="resource" data-swse-tooltip='{{localize "SWSE.CharacterSheet.Labels.Initiative"}}' title='{{localize "SWSE.CharacterSheet.Tooltips.InitiativeBreakdown"}}'>
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.Initiative"}}</div>
        <div class="value-row">
          <span class="value">{{resourcesPanel.combatMetrics.initiativeTotal}}</span>
          <button type="button" class="mini-btn" data-action="roll-initiative" title='{{localize "SWSE.CharacterSheet.Tooltips.RollInitiative"}}'><i class="fa-solid fa-dice-d20"></i></button>
          <button type="button" class="mini-btn" data-action="roll-initiative-take10" title='{{localize "SWSE.CharacterSheet.Tooltips.Take10Initiative"}}'>10</button>
        </div>
      </div>

      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.Perception"}}</div>
        <div class="value-row">
          <span class="value">{{resourcesPanel.combatMetrics.perceptionTotal}}</span>
          <button type="button" class="mini-btn" data-action="roll-skill" data-skill="perception" title='{{localize "SWSE.CharacterSheet.Tooltips.RollPerception"}}'><i class="fa-solid fa-dice-d20"></i></button>
        </div>
      </div>

      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.BaseAttack"}}</div>
        <div class="value-row">
          <input type="number" name="system.baseAttackBonus" value="{{resourcesPanel.combatMetrics.bab}}" class="tiny-input" />
        </div>
      </div>

      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.GrappleBonus"}}</div>
        <div class="value-row"><span class="value">{{resourcesPanel.combatMetrics.grappleBonus}}</span></div>
      </div>

      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.DamageThreshold"}}</div>
        <div class="value-row"><span class="value">{{resourcesPanel.combatMetrics.damageThreshold}}</span></div>
      </div>
    </div>
  </div>

  <div class="resources-group">
    <div class="resources-group-header">{{localize "SWSE.CharacterSheet.Sections.HeroicResources"}}</div>
    <div class="resources-subgrid">
      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.ForcePoints"}} <span class="resource-subtle">({{resourcesPanel.resources.forcePointDie}})</span></div>
        <div class="value-row">
          <input type="number" name="system.forcePoints.value" value="{{resourcesPanel.resources.forcePointsValue}}" min="0" class="tiny-input"/>
          <span>/</span>
          <input type="number" name="system.forcePoints.max" value="{{resourcesPanel.resources.forcePointsMax}}" min="0" class="tiny-input"/>
        </div>
        <div class="value-row">
          <button type="button" class="mini-btn" data-action="spend-force-point" title='{{localize "SWSE.CharacterSheet.Tooltips.SpendForcePoint"}}'>-1</button>
          <button type="button" class="mini-btn" data-action="gain-force-point" title='{{localize "SWSE.CharacterSheet.Tooltips.RestoreForcePoint"}}'>+1</button>
        </div>
      </div>

      <div class="resource">
        <div class="label">{{localize "SWSE.CharacterSheet.Labels.DestinyPoints"}}</div>
        <div class="value-row">
          <input type="number" name="system.destinyPoints.value" value="{{resourcesPanel.resources.destinyPointsValue}}" min="0" class="tiny-input"/>
          <span>/</span>
          <input type="number" name="system.destinyPoints.max" value="{{resourcesPanel.resources.destinyPointsMax}}" min="0" class="tiny-input"/>
        </div>
      </div>
    </div>
  </div>
</section>
