<section class="swse-npc-card swse-npc-authority-card {{#if isStatblockMode}}is-statblock{{else}}is-progression{{/if}}">
  <header class="swse-npc-card__header">
    <h3 class="swse-section-title">{{localize "SWSE.ActorUI.Authority"}}</h3>
  </header>

  <div class="swse-npc-card__body">
    <p class="swse-npc-card__lead">
      {{authorityDescription}}
    </p>

    {{#if isStatblockMode}}
      <div class="swse-npc-callout swse-npc-callout--statblock">
        <strong>{{localize "SWSE.ActorUI.StatblockAuthority"}}</strong>
        {{localize "SWSE.ActorUI.PublishedValuesAreTreatedAsThePrimarySource"}}
      </div>
    {{/if}}

    {{#if isProgressionMode}}
      <div class="swse-npc-callout swse-npc-callout--progression">
        <strong>{{localize "SWSE.ActorUI.ProgressionAuthority"}}</strong>
        {{localize "SWSE.ActorUI.ThisNPCIsExpectedToFollowAdvancementDriven"}}
      </div>
    {{/if}}
  </div>
</section>
