<div class="swse-sheet">
<div class="ability-block">
    {{#each abilities as |ability key|}}
    <div class="ability flexrow">
        <label class="ability-name" for="ability-{{key}}-base">{{upper key}}</label>
        <div class="ability-score">
            <input id="ability-{{key}}-base" type="number" name="system.abilities.{{key}}.base" value="{{ability.base}}" data-dtype="Number" autocomplete="off"/>
        </div>
        <div class="ability-total">
            <span>{{ability.total}}</span>
        </div>
        <div class="ability-mod">
            <span class="ability-mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </div>
    </div>
    {{/each}}
</div>
</div><!-- swse-sheet -->