{{!-- Defense Calculations Component --}}
{{#each defenses as |defense key|}}
<div class="defense-row">
    <label>{{capitalize key}}</label>
    <div class="defense-calc">
        <span>10 +</span>
        <input name="system.defenses.{{key}}.armor" type="number" value="{{defense.armor}}" data-dtype="Number" placeholder="0"/>
        <span>+ Ability +</span>
        <input name="system.defenses.{{key}}.class" type="number" value="{{defense.class}}" data-dtype="Number" placeholder="0"/>
        <span>+</span>
        <input name="system.defenses.{{key}}.misc" type="number" value="{{defense.misc}}" data-dtype="Number" placeholder="0"/>
        <span>=</span>
        <div class="defense-total">{{defense.total}}</div>
    </div>
</div>
{{/each}}