<div class="prog-class-details">
  <div class="prog-class-details__header">
    {{#if img}}
    <div class="prog-class-details__portrait-frame">
      <img class="prog-class-details__portrait" src="{{img}}" alt="{{class.name}}">
      <div class="prog-holo-scan"></div>
    </div>
    {{else if class.img}}
    <div class="prog-class-details__portrait-frame">
      <img class="prog-class-details__portrait" src="{{class.img}}" alt="{{class.name}}">
      <div class="prog-holo-scan"></div>
    </div>
    {{/if}}
    <div class="prog-class-details__heading-copy">
      <h2 class="prog-class-details__name">{{class.name}}</h2>
      <div class="prog-class-details__meta-row">
        <span class="prog-chip">{{type}}</span>
        {{#each classTags}}<span class="prog-chip">{{this}}</span>{{/each}}
      </div>
    </div>
  </div>

  {{#if canonicalDescription}}
    <p class="prog-class-details__description">{{canonicalDescription}}</p>
  {{else if fantasy}}
    <p class="prog-class-details__fantasy">{{fantasy}}</p>
  {{/if}}

  <div class="prog-class-details__stats-grid">
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">BAB</span><span class="prog-class-details__stat-value">{{bab}}</span></div>
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">Fort</span><span class="prog-class-details__stat-value">+{{defenses.fortitude}}</span></div>
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">Ref</span><span class="prog-class-details__stat-value">+{{defenses.reflex}}</span></div>
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">Will</span><span class="prog-class-details__stat-value">+{{defenses.will}}</span></div>
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">Hit Die</span><span class="prog-class-details__stat-value">{{hitDie}}</span></div>
    <div class="prog-class-details__stat"><span class="prog-class-details__stat-label">Trained Skills</span><span class="prog-class-details__stat-value">{{trainedSkillCount}} + INT</span></div>
  </div>

  <div class="prog-class-details__mentor">
    <h4 class="prog-class-details__section-title">Mentor</h4>
    <div class="prog-class-details__mentor-name"><i class="fas fa-user-circle"></i>{{mentorName}}</div>
  </div>

  {{#if classSkills.length}}
  <div class="prog-class-details__class-skills">
    <h4 class="prog-class-details__section-title">Class Skills</h4>
    <ul class="prog-class-details__list">{{#each classSkills}}<li>{{this.name}}</li>{{/each}}</ul>
  </div>
  {{/if}}

  {{#if levelOneFeatures.length}}
  <div class="prog-class-details__abilities">
    <h4 class="prog-class-details__section-title">Level 1 Features</h4>
    <ul class="prog-class-details__list">{{#each levelOneFeatures}}<li>{{this.name}}</li>{{/each}}</ul>
  </div>
  {{/if}}


  {{#if recommendation}}
  <div class="prog-class-details__mentor-read">
    <h4 class="prog-class-details__section-title">Mentor Read</h4>
    {{#if recommendation.reasonSummary}}<p class="prog-class-details__description">{{recommendation.reasonSummary}}</p>{{/if}}
    {{#if recommendation.bullets.length}}
    <ul class="prog-class-details__list">{{#each recommendation.bullets}}<li>{{this}}</li>{{/each}}</ul>
    {{/if}}
    {{#if recommendation.cautions.length}}
    <h4 class="prog-class-details__section-title">Cautions</h4>
    <ul class="prog-class-details__list">{{#each recommendation.cautions}}<li>{{this}}</li>{{/each}}</ul>
    {{/if}}
    {{#if recommendation.forecast.length}}
    <h4 class="prog-class-details__section-title">Forecast</h4>
    <ul class="prog-class-details__list">{{#each recommendation.forecast}}<li>{{this}}</li>{{/each}}</ul>
    {{/if}}
  </div>
  {{/if}}

  <div class="prog-class-details__actions">
    <button class="prog-btn prog-btn--primary" data-action="commit-item" data-item-id="{{class.id}}" type="button"><i class="fas fa-check"></i> Choose {{class.name}}</button>
  </div>
</div>
