<div class="tab skills-tab" data-group="primary" data-tab="skills">
  <h3 class="section-header">Skills</h3>

  <div class="skills-header flexrow">
    <div class="skill-col-name">Skill</div>
    <div class="skill-col-ability">Ability</div>
    <div class="skill-col-trained">Trained</div>
    <div class="skill-col-focus">Focus</div>
    <div class="skill-col-armor">Armor</div>
    <div class="skill-col-misc">Misc</div>
    <div class="skill-col-total">Total</div>
    <div class="skill-col-roll"></div>
  </div>

  <div class="skills-list">
    {{#each system.skills as |skill key|}}
      <div class="skill-row flexrow" draggable="true" data-skill="{{key}}">
        <div class="skill-name">{{capitalize key}}</div>

        <div class="skill-ability">
          {{#if (eq key "acrobatics")}}DEX{{/if}}
          {{#if (eq key "climb")}}STR{{/if}}
          {{#if (eq key "deception")}}CHA{{/if}}
          {{#if (eq key "endurance")}}CON{{/if}}
          {{#if (eq key "gatherInformation")}}CHA{{/if}}
          {{#if (eq key "initiative")}}DEX{{/if}}
          {{#if (eq key "jump")}}STR{{/if}}
          {{#if (eq key "knowledge")}}INT{{/if}}
          {{#if (eq key "mechanics")}}INT{{/if}}
          {{#if (eq key "perception")}}WIS{{/if}}
          {{#if (eq key "persuasion")}}CHA{{/if}}
          {{#if (eq key "pilot")}}DEX{{/if}}
          {{#if (eq key "ride")}}DEX{{/if}}
          {{#if (eq key "stealth")}}DEX{{/if}}
          {{#if (eq key "survival")}}WIS{{/if}}
          {{#if (eq key "swim")}}STR{{/if}}
          {{#if (eq key "treatInjury")}}WIS{{/if}}
          {{#if (eq key "useComputer")}}INT{{/if}}
          {{#if (eq key "useTheForce")}}CHA{{/if}}
        </div>

        <div class="skill-trained">
          <input type="checkbox" 
                 name="system.skills.{{key}}.trained" 
                 {{checked skill.trained}}
                 title="Trained (+5)"/>
        </div>

        <div class="skill-focus">
          <input type="checkbox" 
                 name="system.skills.{{key}}.focused" 
                 {{checked skill.focused}}
                 title="Skill Focus (+5)"/>
        </div>

        <div class="skill-armor">
          <input type="number" 
                 name="system.skills.{{key}}.armor" 
                 value="{{skill.armor}}" 
                 data-dtype="Number"
                 placeholder="0"/>
        </div>

        <div class="skill-misc">
          <input type="number" 
                 name="system.skills.{{key}}.misc" 
                 value="{{skill.misc}}" 
                 data-dtype="Number"
                 placeholder="0"/>
        </div>

        <div class="skill-total {{#if skill.trained}}trained{{/if}}">
          {{skill.total}}
        </div>

        <div class="skill-roll">
          <button class="roll-skill rollable" 
                  data-skill="{{key}}"
                  data-roll="1d20+@skills.{{key}}.total"
                  data-label="{{capitalize key}}"
                  title="Roll {{capitalize key}}">
            <i class="fas fa-dice-d20"></i>
          </button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
