<div class="npc-core-stats">

  <div class="npc-stat">
    <span class="label">HP:</span>
    <span class="value">{{system.health.value}} / {{system.health.max}}</span>
  </div>

  <div class="npc-stat">
    <span class="label">Defenses:</span>
    <span class="value">
      Ref {{system.defenses.reflex}},
      Fort {{system.defenses.fortitude}},
      Will {{system.defenses.will}}
    </span>
  </div>

  <div class="npc-stat">
    <span class="label">DT:</span>
    <span class="value">{{system.damageThreshold}}</span>
  </div>

  <div class="npc-stat">
    <span class="label">Init:</span>
    <span class="value">{{system.initiative.total}}</span>
  </div>

  <div class="npc-stat">
    <span class="label">Perception:</span>
    <span class="value">{{system.skills.perception.total}}</span>
  </div>

  <div class="npc-stat">
    <span class="label">BAB:</span>
    <span class="value">{{system.attacks.bab}}</span>
  </div>

</div>
