<section class="swse-concept-panel swse-concept-panel--ledger">
  <header class="swse-concept-panel__header">
    <div>
      <h3 class="swse-concept-panel__title">Dark Side Score</h3>
      <p class="swse-concept-panel__hint">Clickable dark side track using the existing score setter.</p>
    </div>
    <div class="swse-concept-ledger-row__actions">
      <span class="swse-concept-chip swse-concept-chip--{{#if darkSidePanel.danger}}warn{{else}}neutral{{/if}}">{{darkSidePanel.value}} / {{darkSidePanel.max}}</span>
    </div>
  </header>

  <div class="swse-concept-dsp-track {{#if darkSidePanel.danger}}is-danger{{/if}}">
    {{#each darkSidePanel.segments as |segment|}}
      <button type="button"
              class="swse-concept-dsp-track__segment {{#if segment.filled}}filled{{/if}}"
              data-action="set-dark-side-score"
              data-index="{{segment.index}}"
              title="Set Dark Side Points to {{segment.index}}">
        <span>{{segment.index}}</span>
      </button>
    {{/each}}
  </div>
</section>
