<section class="swse-vehicle-subsystem-panel swse-vehicle-panel">
  <header class="swse-vehicle-panel-header">
    <h3 class="swse-vehicle-panel-title">{{panel.title}}</h3>
  </header>

  <div class="swse-vehicle-panel-body">
    {{#if panel.aggregatePenaltyText}}
      <div class="swse-vehicle-subsystem-aggregate-penalty">
        {{panel.aggregatePenaltyText}}
      </div>
    {{/if}}

    <div class="swse-vehicle-subsystem-list">
      {{#each panel.subsystems as |subsystem|}}
        <div class="swse-vehicle-subsystem-card {{#if subsystem.tier}}is-{{subsystem.tier}}{{else}}is-normal{{/if}}">
          <div class="swse-vehicle-subsystem-header">
            <div class="swse-vehicle-subsystem-name">{{subsystem.label}}</div>
            <div class="swse-vehicle-subsystem-status">
              {{subsystem.statusLabel}}
            </div>
          </div>

          {{#if subsystem.penaltyText}}
            <div class="swse-vehicle-subsystem-penalty">
              {{subsystem.penaltyText}}
            </div>
          {{/if}}

          {{#if subsystem.detailLines}}
            <div class="swse-vehicle-subsystem-details">
              {{#each subsystem.detailLines as |line|}}
                <li>{{line}}</li>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
