<div class="swse-chat-card swse-roll-card">
  <header class="card-header">
    <h3>{{title}}</h3>
    {{#if subtitle}}<div class="card-subtitle">{{subtitle}}</div>{{/if}}
  </header>

  {{#if flavor}}
  <div class="card-content">
    <p>{{flavor}}</p>
  </div>
  {{/if}}

  {{#if roll}}
  <div class="card-content">
    <div class="dice-roll">
      <div class="dice-result">
        {{#if roll.formula}}<div class="dice-formula">{{roll.formula}}</div>{{/if}}
        <div class="dice-total">{{roll.total}}</div>
      </div>
    </div>
  </div>
  {{/if}}
</div>
