{{#if actionEconomy}}
  {{> "systems/foundryvtt-swse/templates/actors/shared/v2-concept/partials/panels/action-economy-indicator.hbs"}}
{{/if}}

<section class="swse-concept-panel swse-droid-panel">
  <header class="swse-concept-panel__header">
    <div>
      <h3 class="swse-concept-panel__title">{{localize "SWSE.ActorUI.Weapons2"}}</h3>
      <p class="swse-concept-panel__hint">{{localize "SWSE.ActorUI.HandheldWeaponsIntegratedWeaponsAndAppendageAttacks"}}</p>
    </div>
  </header>
  <div class="swse-list">
    <article class="swse-list-row weapon-entry swse-unarmed-attack-row" data-weapon-id="{{combatWeapons.unarmed.id}}">
      <span class="swse-weapon-integrated-badge">{{localize "SWSE.ActorUI.UNARMED"}}</span>
      <span class="weapon-name">{{combatWeapons.unarmed.name}}</span>
      <span class="swse-weapon-meta">{{combatWeapons.unarmed.damage}} {{combatWeapons.unarmed.damageType}}</span>
      {{#if combatWeapons.unarmed.martialArtsStep}}<span class="swse-weapon-meta">Martial Arts {{combatWeapons.unarmed.martialArtsStep}}</span>{{/if}}
      {{#if combatWeapons.unarmed.noProvokeOpportunity}}<span class="swse-weapon-meta">{{localize "SWSE.ActorUI.NoAoO"}}</span>{{/if}}
      <div class="swse-inline-actions"><button type="button" data-action="roll-unarmed-attack">{{localize "SWSE.ActorUI.Roll"}}</button></div>
    </article>

    {{#each combatWeapons.integratedParts as |part|}}
      <article class="swse-list-row weapon-entry swse-weapon-integrated-row" data-part-id="{{part.id}}">
        <span class="swse-weapon-integrated-badge">{{localize "SWSE.ActorUI.DROIDPART"}}</span>
        <span class="weapon-name">{{part.name}}</span>
        {{#if part.damage}}<span class="swse-weapon-meta">{{part.damage}}</span>{{/if}}
        {{#if part.range}}<span class="swse-weapon-meta">{{part.range}}</span>{{/if}}
        <div class="swse-inline-actions">
          <button type="button" data-action="use-droid-part" data-part-id="{{part.id}}" data-part-name="{{part.name}}" data-damage="{{part.damage}}" data-range="{{part.range}}" data-attack-bonus="{{part.attackBonus}}" data-mode="{{part.meleeOrRanged}}" data-weapon-type="{{part.type}}">{{#if part.canRoll}}{{localize "SWSE.ActorUI.Roll"}}{{else}}{{localize "SWSE.ActorUI.Use"}}{{/if}}</button>
        </div>
      </article>
    {{/each}}

    {{#each combatWeapons.handheld as |weapon|}}
      <article class="swse-list-row weapon-entry" data-item-id="{{weapon.id}}">
        <span class="weapon-name">{{weapon.name}}</span>
        {{#if weapon.damage}}<span class="swse-weapon-meta">{{weapon.damage}}</span>{{/if}}
        {{#if weapon.range}}<span class="swse-weapon-meta">{{weapon.range}}</span>{{/if}}
        <div class="swse-inline-actions">
          <button type="button" data-action="roll-weapon" data-item-id="{{weapon.id}}">{{localize "SWSE.ActorUI.Roll"}}</button>
          <button type="button" data-action="delete-item" data-item-id="{{weapon.id}}">{{localize "SWSE.ActorUI.Delete"}}</button>
        </div>
      </article>
    {{/each}}

    {{#each combatWeapons.integrated as |weapon|}}
      <article class="swse-list-row weapon-entry swse-weapon-integrated-row" data-item-id="{{weapon.id}}">
        <span class="swse-weapon-integrated-badge">{{localize "SWSE.ActorUI.INTEGRATED"}}</span>
        <span class="weapon-name">{{weapon.name}}</span>
        {{#if weapon.damage}}<span class="swse-weapon-meta">{{weapon.damage}}</span>{{/if}}
        {{#if weapon.range}}<span class="swse-weapon-meta">{{weapon.range}}</span>{{/if}}
        <div class="swse-inline-actions"><button type="button" data-action="roll-weapon" data-item-id="{{weapon.id}}">{{localize "SWSE.ActorUI.Roll"}}</button></div>
      </article>
    {{/each}}

    {{#unless combatWeapons.hasAny}}
      <div class="swse-empty">{{localize "SWSE.ActorUI.NoWeaponsRecorded"}}</div>
    {{/unless}}
  </div>
</section>
