{{#if actionEconomy}}
  {{> "systems/foundryvtt-swse/templates/actors/shared/v2-concept/partials/panels/action-economy-indicator.hbs"}}
{{/if}}

<section class="swse-concept-panel swse-droid-panel">
  <header class="swse-concept-panel__header">
    <div>
      <h3 class="swse-concept-panel__title">Weapons</h3>
      <p class="swse-concept-panel__hint">Handheld weapons, integrated weapons, and appendage attacks.</p>
    </div>
  </header>
  <div class="swse-list">
    <article class="swse-list-row weapon-entry swse-unarmed-attack-row" data-weapon-id="{{combatWeapons.unarmed.id}}">
      <span class="swse-weapon-integrated-badge">UNARMED</span>
      <span class="weapon-name">{{combatWeapons.unarmed.name}}</span>
      <span class="swse-weapon-meta">{{combatWeapons.unarmed.damage}} {{combatWeapons.unarmed.damageType}}</span>
      {{#if combatWeapons.unarmed.martialArtsStep}}<span class="swse-weapon-meta">Martial Arts {{combatWeapons.unarmed.martialArtsStep}}</span>{{/if}}
      {{#if combatWeapons.unarmed.noProvokeOpportunity}}<span class="swse-weapon-meta">No AoO</span>{{/if}}
      <div class="swse-inline-actions"><button type="button" data-action="roll-unarmed-attack">Roll</button></div>
    </article>

    {{#each combatWeapons.integratedParts as |part|}}
      <article class="swse-list-row weapon-entry swse-weapon-integrated-row" data-part-id="{{part.id}}">
        <span class="swse-weapon-integrated-badge">DROID PART</span>
        <span class="weapon-name">{{part.name}}</span>
        {{#if part.damage}}<span class="swse-weapon-meta">{{part.damage}}</span>{{/if}}
        {{#if part.range}}<span class="swse-weapon-meta">{{part.range}}</span>{{/if}}
        <div class="swse-inline-actions"><button type="button" data-action="use-droid-part" data-part-id="{{part.id}}" data-part-name="{{part.name}}">Use</button></div>
      </article>
    {{/each}}

    {{#each combatWeapons.handheld as |weapon|}}
      <article class="swse-list-row weapon-entry" data-item-id="{{weapon.id}}">
        <span class="weapon-name">{{weapon.name}}</span>
        {{#if weapon.damage}}<span class="swse-weapon-meta">{{weapon.damage}}</span>{{/if}}
        {{#if weapon.range}}<span class="swse-weapon-meta">{{weapon.range}}</span>{{/if}}
        <div class="swse-inline-actions">
          <button type="button" data-action="roll-weapon" data-item-id="{{weapon.id}}">Roll</button>
          <button type="button" data-action="delete-item" data-item-id="{{weapon.id}}">Delete</button>
        </div>
      </article>
    {{/each}}

    {{#each combatWeapons.integrated as |weapon|}}
      <article class="swse-list-row weapon-entry swse-weapon-integrated-row" data-item-id="{{weapon.id}}">
        <span class="swse-weapon-integrated-badge">INTEGRATED</span>
        <span class="weapon-name">{{weapon.name}}</span>
        {{#if weapon.damage}}<span class="swse-weapon-meta">{{weapon.damage}}</span>{{/if}}
        {{#if weapon.range}}<span class="swse-weapon-meta">{{weapon.range}}</span>{{/if}}
        <div class="swse-inline-actions"><button type="button" data-action="roll-weapon" data-item-id="{{weapon.id}}">Roll</button></div>
      </article>
    {{/each}}

    {{#unless combatWeapons.hasAny}}
      <div class="swse-empty">No weapons recorded.</div>
    {{/unless}}
  </div>
</section>
