<article class="swse-allies-record">
  <div class="swse-allies-record-head">
    <span>{{record.typeLabel}}</span>
    <b>{{record.status}}</b>
  </div>
  <h4>{{record.name}}</h4>
  {{#if record.description}}<p>{{record.description}}</p>{{/if}}
  {{#if record.meta}}<small>{{record.meta}}</small>{{/if}}
</article>
