{{!-- vehicle-sheet.hbs - Main Stats redesigned (centered ship with surrounding callouts) --}}
<div class="vehicle-sheet">
  <div class="vehicle-center">
    <div class="v-image">
      {{!-- Prefer actor portrait if available, otherwise default asset path --}}
      <img src="{{#if actor.img}}{{actor.img}}{{else}}/assets/ui/vehicle-stats.png{{/if}}" alt="{{actor.name}}" />
    </div>

    {{!-- Callouts: these are positioned via CSS variables on each .callout --}}
    <div class="callout callout-speed" style="--top:12%; --left:50%;">
      <div class="label">Speed</div>
      <div class="value">{{#if actor.system.speed}}{{actor.system.speed}}{{else}}0{{/if}}</div>
    </div>

    <div class="callout callout-shields" style="--top:28%; --left:78%;">
      <div class="label">Shields</div>
      <div class="value">{{#if actor.system.shields}}{{actor.system.shields.current}} / {{actor.system.shields.max}}{{else}}0 / 0{{/if}}</div>
    </div>

    <div class="callout callout-hull" style="--top:72%; --left:78%;">
      <div class="label">Hull</div>
      <div class="value">{{#if actor.system.hull}}{{actor.system.hull.current}} / {{actor.system.hull.max}}{{else}}0 / 0{{/if}}</div>
    </div>

    <div class="callout callout-dr" style="--top:84%; --left:50%;">
      <div class="label">Damage Reduction</div>
      <div class="value">{{#if actor.system.dr}}{{actor.system.dr}}{{else}}0{{/if}}</div>
    </div>

    <div class="callout callout-maxv" style="--top:72%; --left:22%;">
      <div class="label">Max Velocity</div>
      <div class="value">{{#if actor.system.maxVelocity}}{{actor.system.maxVelocity}}{{else}}0{{/if}}</div>
    </div>

    <div class="callout callout-maneuver" style="--top:28%; --left:22%;">
      <div class="label">Maneuver</div>
      <div class="value">{{#if actor.system.maneuver}}{{actor.system.maneuver}}{{else}}0{{/if}}</div>
    </div>
  </div>
</div>

{{!--
Notes:
- The template expects actor.system to contain speed, shields:{current,max}, hull:{current,max}, dr, maxVelocity, maneuver.
- The callout positions use inline CSS variables (--top, --left) for quick adjustments.
--}}
