
<div class="prog-background-surface">

  <div class="prog-background-custom-actions">
    <button class="swse-option-card swse-option-card--compact prog-background-custom-button"
            type="button"
            data-action="create-custom-planet">
      <span class="prog-background-custom-button__icon"><i class="fa-solid fa-globe"></i></span>
      <span class="prog-background-custom-button__label">Create Custom Planet</span>
    </button>
  </div>

  <div class="prog-background-items">
    {{#each backgroundsByCategory}}
      <div class="prog-background-group">
        <div class="swse-section-header">
          <h4 class="swse-section-header__title">{{label}}</h4>
        </div>

        <div class="prog-background-grid" role="listbox" aria-label="{{label}} backgrounds">
          {{#each backgrounds}}
            <button class="swse-option-card prog-background-item
                           {{#if isFocused}}swse-option-card--focused{{/if}}
                           {{#if isCommitted}}swse-option-card--selected{{/if}}
                           {{#if isSuggested}}prog-background-item--suggested prog-background-item--suggested-{{confidenceLevel}}{{/if}}"
                    data-action="focus-item"
                    data-item-id="{{id}}"
                    data-selected="{{#if isCommitted}}true{{else}}false{{/if}}"
                    data-focused="{{#if isFocused}}true{{else}}false{{/if}}"
                    data-recommended="{{#if isSuggested}}true{{/if}}"
                    data-confidence-level="{{confidenceLevel}}"
                    type="button"
                    role="option"
                    {{#if isCommitted}}aria-selected="true"{{/if}}>
              <div class="swse-option-card__header">
                <h3 class="swse-option-card__title prog-background-item__name">
                  {{name}}
                  {{#if badgeLabel}}
                    <span class="swse-option-card__badge swse-option-card__badge--recommended">{{badgeLabel}}</span>
                  {{/if}}
                </h3>
              </div>
              {{#if shortDesc}}
                <div class="swse-option-card__body prog-background-item__desc">{{shortDesc}}</div>
              {{/if}}
              {{#if trainedSkills.length}}
                <div class="swse-option-card__meta">
                  {{#each trainedSkills}}
                    <span class="swse-option-card__badge">{{this}}</span>
                  {{/each}}
                </div>
              {{/if}}
              {{#if isCommitted}}
                <div class="swse-option-card__meta">
                  <span class="swse-option-card__badge"><i class="fas fa-check"></i> Selected</span>
                </div>
              {{/if}}
            </button>
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="prog-background-empty">
        <i class="fas fa-search"></i>
        <p>No backgrounds match your search.</p>
      </div>
    {{/each}}
  </div>
</div>
