<div class="prog-l1-survey">
  <div class="prog-l1-survey__intro">
    <h2 class="prog-l1-survey__title">Declare Your Intent</h2>
    <p class="prog-l1-survey__subtitle">
      {{#if surveyDefinition}}
        {{surveyDefinition.classDisplayName}} survey · grounded in mentor guidance and archetype metadata.
      {{else}}
        The mentor is still reading the shape of your path.
      {{/if}}
    </p>
  </div>

  {{#if mentorGuidance}}
  <div class="prog-l1-survey__mentor">
    {{#if mentorPortrait}}
      <div class="prog-l1-survey__mentor-portrait"><img src="{{mentorPortrait}}" alt="{{mentorName}}"></div>
    {{/if}}
    <div class="prog-l1-survey__mentor-copy">
      <div class="prog-l1-survey__mentor-name">{{mentorName}}</div>
      <div class="prog-l1-survey__mentor-title">{{mentorTitle}}</div>
      <p class="prog-l1-survey__mentor-dialogue">{{mentorGuidance}}</p>
    </div>
  </div>
  {{/if}}

  {{#if topMatches.length}}
  <div class="prog-l1-survey__matches">
    <div class="prog-l1-survey__matches-title">Current archetype read</div>
    <div class="prog-l1-survey__match-list">
      {{#each topMatches}}
      <div class="prog-l1-survey__match">
        <div class="prog-l1-survey__match-name">{{this.archetype.name}}</div>
        <div class="prog-l1-survey__match-note">{{this.archetype.notes}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="prog-l1-survey__questions">
    {{#each surveyQuestions}}
    <section class="prog-l1-survey__question">
      <h3 class="prog-l1-survey__q-title">{{this.text}}</h3>
      <div class="prog-l1-survey__options">
        {{#each this.options}}
        <label class="prog-l1-survey__option">
          <input
            type="radio"
            name="survey-{{@../index}}"
            value="{{this.id}}"
            data-survey-question-id
            data-question-id="{{../id}}"
            {{#if (eq ../selected this.id)}}checked{{/if}}
          >
          <span class="prog-l1-survey__option-body">
            <span class="prog-l1-survey__option-label">{{this.label}}</span>
            {{#if this.hint}}<span class="prog-l1-survey__option-hint">{{this.hint}}</span>{{/if}}
          </span>
        </label>
        {{/each}}
      </div>
    </section>
    {{/each}}
  </div>
</div>
