<div class="destiny-spending-dialog">
  {{#if instantEffects}}
    <div class="effects-section">
      <h3><i class="fa-solid fa-bolt"></i> Instant Effects</h3>
      <div class="effects-list">
        {{#each instantEffects}}
          <div class="effect-option" data-effect-key="{{@key}}">
            <div class="effect-header">
              <i class="fa-solid fa-circle"></i>
              <span class="effect-name">{{this.name}}</span>
              <span class="effect-duration">{{this.duration}}</span>
            </div>
            <p class="effect-description">{{this.description}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if timedEffects}}
    <div class="effects-section">
      <h3><i class="fa-solid fa-hourglass-end"></i> Timed Bonuses (24h)</h3>
      <div class="effects-list">
        {{#each timedEffects}}
          <div class="effect-option" data-effect-key="{{@key}}">
            <div class="effect-header">
              <i class="fa-solid fa-star"></i>
              <span class="effect-name">{{this.name}}</span>
              <span class="effect-duration">{{this.duration}}</span>
            </div>
            <p class="effect-description">{{this.description}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
