{{!-- templates/v2/npc/npc-sheet-body.hbs --}}
{{!-- NPC Sheet body - renders visible panels based on active tab --}}

<div class="sheet-body">
  {{#each tabPanels as |panelNames tabName|}}
    <div class="tab{{#if (eq ../currentTab tabName)}} active{{/if}}" data-tab="{{tabName}}">
      {{#each panelNames as |panelName|}}
        {{!-- Dynamically include panels based on panel name --}}
        {{#if (eq panelName "portraitPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/portrait-panel.hbs"}}
        {{else if (eq panelName "npcBiographyPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/biography-panel.hbs"}}
        {{else if (eq panelName "healthPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/health-panel.hbs"}}
        {{else if (eq panelName "defensePanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/defense-panel.hbs"}}
        {{else if (eq panelName "abilitiesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/abilities-panel.hbs"}}
        {{else if (eq panelName "skillsPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/skills-panel.hbs"}}
        {{else if (eq panelName "inventoryPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/inventory-panel.hbs"}}
        {{else if (eq panelName "talentPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/talents-panel.hbs"}}
        {{else if (eq panelName "featPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/feats-panel.hbs"}}
        {{else if (eq panelName "languagesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/languages-panel.hbs"}}
        {{else if (eq panelName "combatPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/combat-panel.hbs"}}
        {{else if (eq panelName "npcCombatNotesPanel")}}
          {{> "systems/foundryvtt-swse/templates/v2/npc/panels/combat-notes-panel.hbs"}}
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>
