{{!--
  SWSE v13 Sheet Skeleton Partial

  Canonical Foundry v13 tab layout structure.
  This partial provides the correct flexbox layout to prevent panel collapse.

  Usage in your sheet template:
  {{> "systems/foundryvtt-swse/templates/sheets/_sheet-skeleton.hbs"
    headerContent=headerContent
    tabsData=tabsData
    contentTabs=contentTabs
  }}

  Required parameters:
  - headerContent: HTML for sheet header
  - tabsData: Array of tab objects with 'label' and 'tab' properties
  - contentTabs: Array of content sections with 'tab' and 'content' properties
--}}

<form class="sheet swse-sheet flexcol">

  {{!-- SHEET HEADER --}}
  <header class="sheet-header flexrow">
    {{{headerContent}}}
  </header>

  {{!-- SHEET BODY WITH FLEXBOX LAYOUT --}}
  <section class="sheet-body flexcol">

    {{!-- TAB NAVIGATION (FIXED HEIGHT) --}}
    <nav class="sheet-tabs tabs flexrow" data-group="primary">
      {{#each tabsData}}
        <a class="item" data-tab="{{this.tab}}">
          {{#if this.icon}}<i class="{{this.icon}}"></i>{{/if}}
          {{this.label}}
        </a>
      {{/each}}
    </nav>

    {{!-- TAB CONTENT (FLEXIBLE, SCROLLABLE) --}}
    <section class="sheet-content">
      {{#each contentTabs}}
        <div class="tab" data-group="primary" data-tab="{{this.tab}}">
          {{{this.content}}}
        </div>
      {{/each}}
    </section>

  </section>

</form>
