<section class="swse-panel abilities-panel">
  <div class="swse-panel__content">
    <div class="abilities-grid">
      {{#if abilitiesPanel.strength}}<div class="ability"><div>STR</div><div>{{abilitiesPanel.strength.score}}</div></div>{{/if}}
      {{#if abilitiesPanel.dexterity}}<div class="ability"><div>DEX</div><div>{{abilitiesPanel.dexterity.score}}</div></div>{{/if}}
      {{#if abilitiesPanel.constitution}}<div class="ability"><div>CON</div><div>{{abilitiesPanel.constitution.score}}</div></div>{{/if}}
      {{#if abilitiesPanel.intelligence}}<div class="ability"><div>INT</div><div>{{abilitiesPanel.intelligence.score}}</div></div>{{/if}}
      {{#if abilitiesPanel.wisdom}}<div class="ability"><div>WIS</div><div>{{abilitiesPanel.wisdom.score}}</div></div>{{/if}}
      {{#if abilitiesPanel.charisma}}<div class="ability"><div>CHA</div><div>{{abilitiesPanel.charisma.score}}</div></div>{{/if}}
    </div>
  </div>
</section>
