{{!-- templates/v2/npc/panels/biography-panel.hbs --}}
{{!-- NPC Biography Panel --}}

<section class="swse-panel swse-panel--npc-biography npc-biography-panel">
  <div class="swse-panel__content">
    <div class="biography-grid">
      <div class="biography-field">
        <label>{{localize "SWSE.ActorUI.Name"}}</label>
        <span>{{npcBiographyPanel.name}}</span>
      </div>
      <div class="biography-field">
        <label>{{localize "SWSE.ActorUI.Age"}}</label>
        <span>{{npcBiographyPanel.age}}</span>
      </div>
      <div class="biography-field">
        <label>{{localize "SWSE.ActorUI.Gender"}}</label>
        <span>{{npcBiographyPanel.gender}}</span>
      </div>
      <div class="biography-field">
        <label>{{localize "SWSE.ActorUI.Species"}}</label>
        <span>{{npcBiographyPanel.species}}</span>
      </div>
      {{#if npcBiographyPanel.playerName}}
        <div class="biography-field">
          <label>{{localize "SWSE.ActorUI.Player"}}</label>
          <span>{{npcBiographyPanel.playerName}}</span>
        </div>
      {{/if}}
      {{#if npcBiographyPanel.npcRole}}
        <div class="biography-field">
          <label>{{localize "SWSE.ActorUI.Role"}}</label>
          <span>{{npcBiographyPanel.npcRole}}</span>
        </div>
      {{/if}}
    </div>
  </div>
</section>
