{{!-- Defenses Partial --}}
<section class="defenses-section">
    <h3>Defenses</h3>
    <div class="defense-row">
        <label>Fortitude</label>
        <div class="defense-calc">
            <span>10 +</span>
            <input name="system.defenses.fortitude.armor" type="number" value="{{system.defenses.fortitude.armor}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <span>{{conMod}}</span>
            <span>+</span>
            <input name="system.defenses.fortitude.class" type="number" value="{{system.defenses.fortitude.class}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <input name="system.defenses.fortitude.misc" type="number" value="{{system.defenses.fortitude.misc}}" data-dtype="Number" placeholder="0"/>
            <span>=</span>
            <div class="defense-total">{{fortTotal}}</div>
        </div>
    </div>
    <div class="defense-row">
        <label>Reflex</label>
        <div class="defense-calc">
            <span>10 +</span>
            <input name="system.defenses.reflex.armor" type="number" value="{{system.defenses.reflex.armor}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <span>{{dexMod}}</span>
            <span>+</span>
            <input name="system.defenses.reflex.class" type="number" value="{{system.defenses.reflex.class}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <input name="system.defenses.reflex.misc" type="number" value="{{system.defenses.reflex.misc}}" data-dtype="Number" placeholder="0"/>
            <span>=</span>
            <div class="defense-total">{{refTotal}}</div>
        </div>
    </div>
    <div class="defense-row">
        <label>Will</label>
        <div class="defense-calc">
            <span>10 +</span>
            <input name="system.defenses.will.armor" type="number" value="{{system.defenses.will.armor}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <span>{{wisMod}}</span>
            <span>+</span>
            <input name="system.defenses.will.class" type="number" value="{{system.defenses.will.class}}" data-dtype="Number" placeholder="0"/>
            <span>+</span>
            <input name="system.defenses.will.misc" type="number" value="{{system.defenses.will.misc}}" data-dtype="Number" placeholder="0"/>
            <span>=</span>
            <div class="defense-total">{{willTotal}}</div>
        </div>
    </div>
</section>