<section class="swse-panel holo-panel swse-ui-panel swse-droid-part-panel" data-region="integrated-systems">
  <header class="section-bar">
    <h3 class="section-header">Integrated Systems</h3>
  </header>

  {{#if droidPanels.integratedSystems.hasEntries}}
    <div class="integrated-systems-list">
      {{#each droidPanels.integratedSystems.entries as |system|}}
        <div class="system-entry swse-droid-part-row" data-system-id="{{system.id}}">
          <div class="system-header">
            <span class="system-name">{{system.name}}</span>
            {{#if system.category}}<span class="system-type muted">[{{system.category}}]</span>{{else if system.type}}<span class="system-type muted">[{{system.type}}]</span>{{/if}}
          </div>
          {{#if system.description}}<div class="system-description muted">{{system.description}}</div>{{/if}}
          {{#if system.modifiers}}
            <ul class="swse-droid-modifier-list">
              {{#each system.modifiers as |mod|}}
                <li class="{{#unless mod.active}}is-inactive{{/unless}}">{{mod.target}} {{#if mod.value}}{{mod.value}}{{/if}}</li>
              {{/each}}
            </ul>
          {{/if}}
          <button type="button" class="holo-btn tiny" data-action="use-droid-part" data-part-id="{{system.id}}" data-part-name="{{system.name}}">Use / Describe</button>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="empty-state"><p><em>{{droidPanels.integratedSystems.emptyMessage}}</em></p></div>
  {{/if}}
</section>
