<section class="swse-panel holo-panel swse-ui-panel swse-droid-part-region">
  <header class="section-bar">
    <h3 class="section-header">Sensors</h3>
  </header>

  {{#if droid.resolvedSystems.sensors.isConfigured}}
    <div class="swse-droid-part-list">
      {{#each droid.resolvedSystems.sensors.items as |sensor|}}
        <button type="button" class="swse-droid-part-card" data-action="use-droid-part" data-part-id="{{sensor.id}}" data-item-id="{{sensor.itemId}}">
          <span class="swse-droid-part-name">{{sensor.name}}</span>
          {{#if sensor.description}}<span class="swse-droid-part-desc">{{sensor.description}}</span>{{/if}}
        </button>
      {{/each}}
    </div>
  {{else}}
    <div class="empty-state">
      <p><em>No sensor upgrades installed.</em></p>
    </div>
  {{/if}}
</section>
